@font-face {
  font-family: "Montsterrat-Medium";
  src: url("./assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montsterrat-Regular";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
textarea {
  font-family: "Montsterrat-Medium", "Roboto", "Open Sans", "sans-serif" !important;
}

/* p {
  font-family: "Montsterrat-Regular", "Roboto", "Open Sans", "sans-serif" !important;
} */
